.venv/
__pycache__/
*.pyc
.DS_Store

outputs/logs/*
outputs/predictions/*
!outputs/logs/.gitkeep
!outputs/predictions/.gitkeep

data/raw/*
data/processed/*
!data/raw/.gitkeep
!data/processed/.gitkeep

models/stage1/*
models/stage2/*
!models/stage1/.gitkeep
!models/stage2/.gitkeep
